<h2>What is the status of the squad?</h2>

<p>
  A minimum of 8 recruited squadmates is required to progress to the final
  mission.
</p>

<p>
  <strong [style.color]="recruitedSquadmates >= 8 ? 'green' : 'red'">{{
    recruitedSquadmates
  }}</strong>
  squadmate{{ recruitedSquadmates == 1 ? " has" : "s have" }} been recruited.
</p>

<form [formGroup]="squadmates" (ngSubmit)="validateSquadmateStatus()">
  <div class="squadmate-form">
    <div class="squadmate">
      <p><strong>Name</strong></p>
      <strong>Recruited?</strong>
      <strong>Loyal?</strong>
    </div>

    <div class="squadmate" formGroupName="zaeed">
      <p>Zaeed</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="legion">
      <p>Legion</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="samara">
      <p>{{ squadmates.get("samara")?.get("name")?.value }}</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="tali">
      <p>Tali</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="mordin">
      <p>Mordin<em>*</em></p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="garrus">
      <p>Garrus<em>*</em></p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="miranda">
      <p>Miranda<em>*</em></p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="grunt">
      <p>Grunt</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="jacob">
      <p>Jacob<em>*</em></p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="thane">
      <p>Thane</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="jack">
      <p>Jack<em>*</em></p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>

    <div class="squadmate" formGroupName="kasumi">
      <p>Kasumi</p>
      <mat-checkbox formControlName="recruited"></mat-checkbox>
      <mat-checkbox formControlName="loyal"></mat-checkbox>
    </div>
  </div>

  <p>
    <small><em>*</em> indicates required squadmates.</small>
  </p>

  <div class="toggle-buttons">
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="toggleAllRecruited()"
    >
      Toggle All Recruited
    </button>

    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="toggleAllLoyal()"
    >
      Toggle All Loyal
    </button>
  </div>

  <mat-checkbox
    id="simCheckbox"
    [checked]="samaraIsMorinth"
    (change)="toggleSamaraIsMorinth()"
    [labelPosition]="'before'"
    >Samara is Morinth</mat-checkbox
  >

  <div *ngIf="insufficientSquadmates">
    <p>
      <em
        >Less than 8 squadmates were recruited. A minimum of 8 recruited
        squadmates is required to progress to the final mission.</em
      >
    </p>
  </div>

  <div *ngIf="legionAs8thSquadmate">
    <p>
      <em
        >Legion cannot be the 8th squadmate as he can only be recruited after
        the Collector Ship mission, which triggers after 8 other squadmates are
        recruited. Either recruit another squadmate or choose an alternative 8th
        squadmate.
      </em>
    </p>
  </div>

  <button mat-raised-button color="primary" [disabled]="!squadmates.valid">
    Next
  </button>
</form>
