<form
  [formGroup]="longWalkTeam"
  (ngSubmit)="newLongWalkTeamEvent.emit(longWalkTeam)"
>
  <div class="multiple-select">
    <h2>Who will create the biotic shield?</h2>

    <mat-form-field appearance="fill">
      <mat-label>Biotic Specialist</mat-label>
      <mat-select formControlName="bioticSpecialist" #bioticSpecialist>
        <mat-option
          *ngFor="let squadmate of bioticSpecialists"
          [value]="squadmate"
          [disabled]="
            fireteamTwoLeader.value === squadmate ||
            crewEscort.value === squadmate ||
            swarmSquadmate1.value === squadmate ||
            swarmSquadmate2.value === squadmate
          "
        >
          {{ squadmate }}
          {{
            showLoyalSquadmates &&
            squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
              ? "(L)"
              : ""
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Who will lead the second fireteam?</h2>

    <mat-form-field appearance="fill">
      <mat-label>Fireteam Leader 2</mat-label>
      <mat-select formControlName="fireteamTwoLeader" #fireteamTwoLeader>
        <mat-option
          *ngFor="let leader of fireteamTwoLeaders"
          [value]="leader"
          [disabled]="
            bioticSpecialist.value === leader ||
            crewEscort.value === leader ||
            swarmSquadmate1.value === leader ||
            swarmSquadmate2.value === leader
          "
        >
          {{ leader }}
          {{
            showLoyalSquadmates &&
            squadmates.get(leader.toLowerCase())?.get("loyal")?.value
              ? "(L)"
              : ""
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Who will escort the crew?</h2>

    <mat-form-field appearance="fill">
      <mat-label>Crew Escort</mat-label>
      <mat-select formControlName="crewEscort" #crewEscort>
        <mat-option value="None"> None </mat-option>

        <ng-container *ngIf="aliveSquadmates > 4">
          <mat-option
            *ngFor="let squadmate of choosableSquadmates"
            [value]="squadmate"
            [disabled]="
              bioticSpecialist.value === squadmate ||
              fireteamTwoLeader.value === squadmate ||
              swarmSquadmate1.value === squadmate ||
              swarmSquadmate2.value === squadmate ||
              squadmate === 'Miranda'
            "
          >
            {{ squadmate }}
            {{
              showLoyalSquadmates &&
              squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                ? "(L)"
                : ""
            }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <h2>Who will accompany Shepard through the seeker swarms?</h2>

    <mat-form-field appearance="fill">
      <mat-label>Squadmate 1</mat-label>
      <mat-select formControlName="swarmSquadmate1" #swarmSquadmate1>
        <mat-option
          *ngFor="let squadmate of choosableSquadmates"
          [value]="squadmate"
          [disabled]="
            bioticSpecialist.value === squadmate ||
            fireteamTwoLeader.value === squadmate ||
            crewEscort.value === squadmate ||
            swarmSquadmate2.value === squadmate
          "
        >
          {{ squadmate }}
          {{
            showLoyalSquadmates &&
            squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
              ? "(L)"
              : ""
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Squadmate 2</mat-label>
      <mat-select formControlName="swarmSquadmate2" #swarmSquadmate2>
        <mat-option
          *ngFor="let squadmate of choosableSquadmates"
          [value]="squadmate"
          [disabled]="
            bioticSpecialist.value === squadmate ||
            fireteamTwoLeader.value === squadmate ||
            crewEscort.value === squadmate ||
            swarmSquadmate1.value === squadmate
          "
        >
          {{ squadmate }}
          {{
            showLoyalSquadmates &&
            squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
              ? "(L)"
              : ""
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!longWalkTeam.valid"
  >
    Next
  </button>
</form>
