<div class="main">
  <div class="heading">
    <h1>
      Mass Effect 2 Final Mission Calculator
      <button
        mat-raised-button
        color="primary"
        type="button"
        id="reset"
        (click)="resetCalculator(stepper)"
      >
        Reset
      </button>
    </h1>
  </div>

  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- 1. Squadmate Status -->
    <mat-step [completed]="false" [editable]="false" #step1>
      <ng-template matStepLabel>Squadmate Status</ng-template>

      <app-squadmate-status
        [resetEvent]="resetting"
        (newSquadmateStatusEvent)="submitSquadmateStatus(stepper, step1)"
      ></app-squadmate-status>
    </mat-step>

    <!-- 2. Ship Upgrades -->
    <mat-step [completed]="false" [editable]="false" #step2>
      <ng-template matStepLabel>Ship Upgrades</ng-template>

      <app-ship-upgrades
        (newShipUpgradesEvent)="submitShipUpgrades(stepper, step2)"
      ></app-ship-upgrades>
    </mat-step>

    <!-- 3. The Oculus -->
    <mat-step [completed]="false" [editable]="false" #step3>
      <ng-template matStepLabel>Omega-4 Relay: The Oculus</ng-template>

      <app-oculus-squadmates
        [choosableSquadmates]="choosableSquadmates"
        [showLoyalSquadmates]="showLoyalSquadmates"
        (newOculusSquadmatesEvent)="submitOculusSquadmates(stepper, step3)"
      ></app-oculus-squadmates>
    </mat-step>

    <!-- 4. Infiltration -->
    <mat-step [completed]="false" [editable]="false" #step4>
      <ng-template matStepLabel>Collector Base: Infiltration</ng-template>

      <app-infiltration-team
        [techSpecialists]="techSpecialists"
        [fireteamOneLeaders]="fireteamOneLeaders"
        [showLoyalSquadmates]="showLoyalSquadmates"
        (newInfiltrationTeamEvent)="submitInfiltrationTeam(stepper, step4)"
      ></app-infiltration-team>
    </mat-step>

    <!-- 5. The Long Walk -->
    <mat-step [completed]="false" [editable]="false" #step5>
      <ng-template matStepLabel>Collector Base: The Long Walk</ng-template>

      <app-long-walk-team
        [aliveSquadmates]="getAliveSquadmates()"
        [bioticSpecialists]="bioticSpecialists"
        [fireteamTwoLeaders]="fireteamOneLeaders"
        [choosableSquadmates]="choosableSquadmates"
        [showLoyalSquadmates]="showLoyalSquadmates"
        (newLongWalkTeamEvent)="submitLongWalkTeam(stepper, step5)"
      ></app-long-walk-team>
    </mat-step>

    <!-- 6. Final Battle -->
    <mat-step [completed]="false" [editable]="false" #step6>
      <ng-template matStepLabel>Collector Base: Final Battle</ng-template>

      <app-final-battle-team
        [choosableSquadmates]="choosableSquadmates"
        [showLoyalSquadmates]="showLoyalSquadmates"
        (newFinalBattleTeamEvent)="submitFinalBattleTeam(stepper, step6)"
      ></app-final-battle-team>
    </mat-step>

    <!-- 7. Hold the Line -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: Hold the Line</ng-template>

      <app-hold-the-line
        [availableSquadmates]="availableSquadmates"
        [calculateHtlEvent]="calculateHtl"
        [finishDeathCalculationEvent]="finishDeathCalculation"
        [resetEvent]="resetting"
        (finishHtlCalculationEvent)="
          killHtlDefenders($event.defenders, $event.numberOfHtlDeaths)
        "
      ></app-hold-the-line>

      <button mat-raised-button color="primary" matStepperNext>Finish</button>
    </mat-step>

    <!-- 8. Final Outcome + Summary -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Final Outcome</ng-template>

      <app-final-outcome
        [recruitedSquadmates]="getRecruitedSquadmates()"
        [aliveSquadmates]="getAliveSquadmates()"
        [availableSquadmates]="availableSquadmates"
        [normandyCrewDead]="normandyCrewDead"
        [shepardDead]="shepardDead"
      ></app-final-outcome>

      <hr />

      <app-summary
        [recruitedSquadmates]="getRecruitedSquadmates()"
        [aliveSquadmates]="getAliveSquadmates()"
        [availableSquadmates]="availableSquadmates"
        [normandyCrewDead]="normandyCrewDead"
        [shepardDead]="shepardDead"
      ></app-summary>
    </mat-step>
  </mat-stepper>

  <div class="options">
    <h2>Settings</h2>

    <mat-checkbox
      color="primary"
      title="Enabling this setting will show an (L) next to squadmates who are loyal in each of the drop-down lists."
      [checked]="showLoyalSquadmates"
      (change)="showLoyalSquadmates = !showLoyalSquadmates"
    >
      Show Loyal Squadmates
    </mat-checkbox>

    <footer>
      <p>
        Created by 62firelight (<a
          href="https://github.com/62firelight/ME2FMC"
          target="_blank"
          rel="noreferrer"
          >GitHub</a
        >)
      </p>
    </footer>
  </div>
</div>
