.main {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    /* align-items: flex-start; */
}

.multiple-select {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}