<div class="main">
  <div class="heading">
    <h1>Mass Effect 2 Final Mission Calculator</h1>

    <button
      mat-raised-button
      color="primary"
      type="button"
      id="reset"
      (click)="resetCalculator(stepper)"
    >
      Reset
    </button>
  </div>

  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- 1. Squadmate Status -->
    <mat-step [completed]="false" [editable]="false" #step1>
      <ng-template matStepLabel>Squadmate Status</ng-template>

      <app-squadmate-status
        [resetEvent]="resetting"
        (newSquadmateStatusEvent)="
          squadmates = $event; 
          submitSquadmateStatus(stepper, step1)
        "
      ></app-squadmate-status>
    </mat-step>

    <!-- 2. Ship Upgrades -->
    <mat-step [completed]="false" [editable]="false" #step2>
      <ng-template matStepLabel>Ship Upgrades</ng-template>

      <h2>What upgrades has the Normandy acquired?</h2>

      <form
        [formGroup]="shipUpgrades"
        (ngSubmit)="submitShipUpgrades(stepper, step2)"
      >
        <div class="squadmate-form">
          <!-- <div class="squadmate">
            <p><strong>Name</strong></p>
            <strong>Included?</strong>
          </div> -->

          <div class="squadmate" formGroupName="armor">
            <p>Heavy Ship Armor</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="shield">
            <p>Multicore Shielding</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="weapons">
            <p>Thanix Cannon</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>
        </div>

        <button mat-raised-button color="primary" type="submit">Next</button>
      </form>
    </mat-step>

    <!-- 3. The Oculus -->
    <mat-step [completed]="false" [editable]="false" #step3>
      <ng-template matStepLabel>Omega-4 Relay: The Oculus</ng-template>

      <form
        [formGroup]="oculusSquadmates"
        (ngSubmit)="submitOculusSquadmates(stepper, step3)"
      >
        <div class="multiple-select">
          <h2>Who will accompany Shepard to fight the Oculus?</h2>
          <!-- <p>Anyone who does not accompany Shepard will be at risk of dying.</p> -->

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 1</mat-label>
            <mat-select formControlName="oculusSquadmate1" #oculusSquadmate1>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="oculusSquadmate2.value === squadmate"
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 2</mat-label>
            <mat-select formControlName="oculusSquadmate2" #oculusSquadmate2>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="oculusSquadmate1.value === squadmate"
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!oculusSquadmates.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 4. Infiltration -->
    <mat-step [completed]="false" [editable]="false" #step4>
      <ng-template matStepLabel>Collector Base: Infiltration</ng-template>

      <form
        [formGroup]="infiltrationTeam"
        (ngSubmit)="submitInfiltrationTeam(stepper, step4)"
      >
        <div class="multiple-select">
          <h2>Who will go through the vents?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Tech Specialist</mat-label>
            <mat-select formControlName="techSpecialist" #techSpecialist>
              <mat-option
                *ngFor="let specialist of techSpecialists"
                [value]="specialist"
                [disabled]="fireteamOneLeader.value === specialist"
              >
                {{ specialist }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(specialist.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h2>Who will lead the first fireteam?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Fireteam Leader 1</mat-label>
            <mat-select formControlName="fireteamOneLeader" #fireteamOneLeader>
              <mat-option
                *ngFor="let leader of fireteamOneLeaders"
                [value]="leader"
                [disabled]="techSpecialist.value === leader"
              >
                {{ leader }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(leader.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!infiltrationTeam.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 5. The Long Walk -->
    <mat-step [completed]="false" [editable]="false" #step5>
      <ng-template matStepLabel>Collector Base: The Long Walk</ng-template>

      <form
        [formGroup]="longWalkTeam"
        (ngSubmit)="submitLongWalkTeam(stepper, step5)"
      >
        <div class="multiple-select">
          <h2>Who will create the biotic shield?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Biotic Specialist</mat-label>
            <mat-select formControlName="bioticSpecialist" #bioticSpecialist>
              <mat-option
                *ngFor="let specialist of bioticSpecialists"
                [value]="specialist"
                [disabled]="
                  fireteamTwoLeader.value === specialist ||
                  crewEscort.value === specialist ||
                  swarmSquadmate1.value === specialist ||
                  swarmSquadmate2.value === specialist
                "
              >
                {{ specialist }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(specialist.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h2>Who will lead the second fireteam?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Fireteam Leader 2</mat-label>
            <mat-select formControlName="fireteamTwoLeader" #fireteamTwoLeader>
              <mat-option
                *ngFor="let leader of fireteamOneLeaders"
                [value]="leader"
                [disabled]="
                  bioticSpecialist.value === leader ||
                  crewEscort.value === leader ||
                  swarmSquadmate1.value === leader ||
                  swarmSquadmate2.value === leader
                "
              >
                {{ leader }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(leader.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h2>Who will escort the crew?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Crew Escort</mat-label>
            <mat-select formControlName="crewEscort" #crewEscort>
              <mat-option value="None"> None </mat-option>

              <ng-container *ngIf="getAliveSquadmates() > 4">
                <mat-option
                  *ngFor="let squadmate of choosableSquadmates"
                  [value]="squadmate"
                  [disabled]="
                    bioticSpecialist.value === squadmate ||
                    fireteamTwoLeader.value === squadmate ||
                    swarmSquadmate1.value === squadmate ||
                    swarmSquadmate2.value === squadmate ||
                    squadmate === 'Miranda'
                  "
                >
                  {{ squadmate }}
                  {{
                    showLoyalSquadmates &&
                    squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                      ? "(L)"
                      : ""
                  }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <h2>Who will accompany Shepard through the seeker swarms?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 1</mat-label>
            <mat-select formControlName="swarmSquadmate1" #swarmSquadmate1>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="
                  bioticSpecialist.value === squadmate ||
                  fireteamTwoLeader.value === squadmate ||
                  crewEscort.value === squadmate ||
                  swarmSquadmate2.value === squadmate
                "
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 2</mat-label>
            <mat-select formControlName="swarmSquadmate2" #swarmSquadmate2>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="
                  bioticSpecialist.value === squadmate ||
                  fireteamTwoLeader.value === squadmate ||
                  crewEscort.value === squadmate ||
                  swarmSquadmate1.value === squadmate
                "
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!longWalkTeam.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 6. Final Battle -->
    <mat-step [completed]="false" [editable]="false" #step6>
      <ng-template matStepLabel>Collector Base: Final Battle</ng-template>

      <form
        [formGroup]="finalBattleTeam"
        (ngSubmit)="submitFinalBattle(stepper, step6)"
      >
        <div class="multiple-select">
          <h2>Who will accompany Shepard to the final battle?</h2>
          <!-- <p>
            Anyone who does not accompany Shepard will stay behind to hold the
            line.
          </p> -->

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 1</mat-label>
            <mat-select formControlName="finalSquadmate1" #finalSquadmate1>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="finalSquadmate2.value === squadmate"
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 2</mat-label>
            <mat-select formControlName="finalSquadmate2" #finalSquadmate2>
              <mat-option
                *ngFor="let squadmate of choosableSquadmates"
                [value]="squadmate"
                [disabled]="finalSquadmate1.value === squadmate"
              >
                {{ squadmate }}
                {{
                  showLoyalSquadmates &&
                  squadmates.get(squadmate.toLowerCase())?.get("loyal")?.value
                    ? "(L)"
                    : ""
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!finalBattleTeam.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 7. Hold the Line -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: Hold the Line</ng-template>

      <h2 id="htl">Hold the Line!</h2>
      <p>
        There {{ currentHtlScores.size == 1 ? "is" : "are" }}
        <strong>{{ currentHtlScores.size }}</strong> squadmate{{
          currentHtlScores.size == 1 ? "" : "s"
        }}
        holding the line. Their individual score{{
          currentHtlScores.size == 1 ? " is" : "s are"
        }}
        as follows:
      </p>

      <ul>
        <ng-container *ngFor="let entry of currentHtlScores | keyvalue">
          <li>
            <strong>{{ entry.key }}:</strong> {{ entry.value }}
          </li>
        </ng-container>
      </ul>

      The total squadmate score is <strong>{{ totalHtlScore }}</strong
      >.

      <p>
        <strong [style.color]="htlScore == 0 ? '' : 'green'">{{
          htlScore == currentHtlScores.size ? "All" : htlScore
        }}</strong>
        squadmate{{ htlScore == 1 ? "" : "s" }} holding the line will survive.
        ({{ totalHtlScore }} / 3 = {{ htlScore }} rounded down)
      </p>

      <ng-container *ngIf="htlDeaths.length > 0">
        <p>
          <strong
            ><em>{{ htlDeaths.length }}</em></strong
          >
          squadmate{{ htlDeaths.length == 1 ? "" : "s" }}
          died holding the line, including:
        </p>

        <ul>
          <li *ngFor="let htlDeath of htlDeaths">
            <em>{{ htlDeath }}</em>
          </li>
        </ul>
      </ng-container>

      <button mat-raised-button color="primary" matStepperNext>Finish</button>
    </mat-step>

    <!-- 8. Final Outcome -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Final Outcome</ng-template>

      <h2 id="htl">Mission complete!</h2>

      <p>
        {{
          getRecruitedSquadmates() === getAliveSquadmates() &&
          normandyCrewDead == false
            ? "With no one left behind!"
            : "But at what cost...?"
        }}
      </p>

      <ul id="summary">
        <ng-container *ngFor="let squadmate of availableSquadmates">
          <li
            *ngIf="squadmate.recruited"
            [style.color]="squadmate.deathReason ? 'red' : 'green'"
          >
            <strong>{{ squadmate.name }}</strong> -
            {{
              squadmate.deathReason
                ? "Died (" + squadmate.deathReason.toLowerCase() + ")"
                : "Survived"
            }}
          </li>
        </ng-container>
        <li [style.color]="normandyCrewDead ? 'red' : 'green'">
          <strong>Normandy Crew</strong> -
          {{ normandyCrewDead ? "Died (no escort)" : "Survived" }}
        </li>
        <li [style.color]="getAliveSquadmates() < 2 ? 'red' : 'green'">
          <strong>Shepard</strong> -
          {{
            getAliveSquadmates() < 2
              ? "Died (less than 2 squadmates survived)"
              : "Survived"
          }}
        </li>
      </ul>

      <hr />

      <div class="summary-section">
        <h2>
          Mass Effect 2 Suicide Mission Summary
          <!-- <button
                  mat-icon-button
                  [cdkCopyToClipboard]="
                    'If you are seeing this, the copy text feature has not been fully implemented yet :('
                  "
                >
                  <mat-icon>content_copy</mat-icon>
                </button> -->
        </h2>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="button"
        id="copy"
        [cdkCopyToClipboard]="getSummary()"
      >
        Copy to Clipboard
      </button>

      <div class="summary-section">
        <h3>Squadmate Status</h3>
        <!-- <pre>{{ squadmates.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let squadmate of squadmates.getRawValue() | keyvalue">
            <ng-container *ngIf="squadmate.value">
              <strong>{{ squadmate.value.name | titlecase }}:</strong>
              {{ squadmate.value.recruited ? "Recruited" : "Not Recruited" }}
              <ng-container *ngIf="squadmate.value.recruited"
                >and
                {{
                  squadmate.value.loyal ? "Loyal" : "Not Loyal"
                }}</ng-container
              ></ng-container
            >
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>Ship Upgrades</h3>
        <!-- <pre>{{ shipUpgrades.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let shipUpgrade of shipUpgrades.getRawValue() | keyvalue">
            <ng-container *ngIf="shipUpgrade.value">
              <strong>{{ shipUpgrade.value.name | titlecase }}:</strong>
              {{ shipUpgrade.value.included ? "Acquired" : "Not Acquired" }}
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>Oculus Squadmates</h3>
        <!-- <pre>{{ oculusSquadmates.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let oculusSquadmate of oculusSquadmates.value | keyvalue">
            <ng-container>
              <strong>{{ convertFromCamelCase(oculusSquadmate.key) }}:</strong>
              {{ oculusSquadmate.value ? oculusSquadmate.value : "None" }}
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>Infiltration</h3>
        <!-- <pre>{{ infiltrationTeam.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let infiltration of infiltrationTeam.value | keyvalue">
            <ng-container>
              <strong>{{ convertFromCamelCase(infiltration.key) }}:</strong>
              {{ infiltration.value ? infiltration.value : "None" }}
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>The Long Walk</h3>
        <!-- <pre>{{ longWalkTeam.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let longWalk of longWalkTeam.value | keyvalue">
            <ng-container>
              <strong>{{ convertFromCamelCase(longWalk.key) }}:</strong>
              {{ longWalk.value ? longWalk.value : "None" }}
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>Final Battle</h3>
        <!-- <pre>{{ finalBattleTeam.value | json }}</pre> -->
        <ul id="summary">
          <li *ngFor="let finalBattle of finalBattleTeam.value | keyvalue">
            <ng-container>
              <strong>{{ convertFromCamelCase(finalBattle.key) }}:</strong>
              {{ finalBattle.value ? finalBattle.value : "None" }}
            </ng-container>
          </li>
        </ul>
      </div>

      <div class="summary-section">
        <h3>Hold the Line</h3>
        <p>
          There {{ currentHtlScores.size == 1 ? "is" : "are" }}
          <strong>{{ currentHtlScores.size }}</strong> squadmate{{
            currentHtlScores.size == 1 ? "" : "s"
          }}
          holding the line. Their individual score{{
            currentHtlScores.size == 1 ? " is" : "s are"
          }}
          as follows:
        </p>

        <ul>
          <ng-container *ngFor="let entry of currentHtlScores | keyvalue">
            <li>
              <strong>{{ entry.key }}:</strong> {{ entry.value }}
            </li>
          </ng-container>
        </ul>

        <p>
          The total squadmate score is <strong>{{ totalHtlScore }}</strong
          >.
        </p>

        <p>
          <strong [style.color]="htlScore == 0 ? '' : 'green'">{{
            htlScore == currentHtlScores.size ? "All" : htlScore
          }}</strong>
          squadmate{{ htlScore == 1 ? "" : "s" }} holding the line will survive.
          ({{ totalHtlScore }} / 3 = {{ htlScore }} rounded down)
        </p>

        <ng-container *ngIf="htlDeaths.length > 0">
          <p>
            <strong
              ><em>{{ htlDeaths.length }}</em></strong
            >
            squadmate{{ htlDeaths.length == 1 ? "" : "s" }}
            died holding the line, including:
          </p>

          <ul>
            <li *ngFor="let htlDeath of htlDeaths">
              <em>{{ htlDeath }}</em>
            </li>
          </ul>
        </ng-container>
      </div>

      <div class="summary-section">
        <h3>Final Outcome</h3>
        <ul id="summary">
          <ng-container *ngFor="let squadmate of availableSquadmates">
            <li
              *ngIf="squadmate.recruited"
              [style.color]="squadmate.deathReason ? 'red' : 'green'"
            >
              <strong>{{ squadmate.name }}</strong> -
              {{
                squadmate.deathReason
                  ? "Died (" + squadmate.deathReason.toLowerCase() + ")"
                  : "Survived"
              }}
            </li>
          </ng-container>
          <li [style.color]="normandyCrewDead ? 'red' : 'green'">
            <strong>Normandy Crew</strong> -
            {{ normandyCrewDead ? "Died (no escort)" : "Survived" }}
          </li>
          <li [style.color]="getAliveSquadmates() < 2 ? 'red' : 'green'">
            <strong>Shepard</strong> -
            {{
              getAliveSquadmates() < 2
                ? "Died (less than 2 squadmates survived)"
                : "Survived"
            }}
          </li>
        </ul>
      </div>
    </mat-step>

    <!--  <mat-step [editable]="false">
      <ng-template matStepLabel>Ship Upgrades</ng-template>

      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step> -->
  </mat-stepper>

  <div class="options">
    <h2>Settings</h2>

    <mat-checkbox
      color="primary"
      title="Enabling this setting will show an (L) next to squadmates who are loyal in each of the drop-down lists."
      [checked]="showLoyalSquadmates"
      (change)="showLoyalSquadmates = !showLoyalSquadmates"
    >
      Show Loyal Squadmates
    </mat-checkbox>
  </div>
</div>
