<div class="main">
  <h1>ME2 Final Mission Calculator</h1>

  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- 1. Squadmate Status -->
    <mat-step [stepControl]="squadmates" [editable]="false">
      <ng-template matStepLabel>Squadmate Status</ng-template>

      <h2>What is the status of the squad?</h2>

      <!-- <table mat-table [dataSource]="squadmateStatusData" [formGroup]="squadmates">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="recruited">
          <th mat-header-cell *matHeaderCellDef>Recruited?</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="loyal">
          <th mat-header-cell *matHeaderCellDef>Loyal?</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="squadmateColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: squadmateColumns"></tr>
      </table> -->

      <p>
        A minimum of 8 recruited squadmates is required to progress to the final
        mission.
      </p>

      <form
        [formGroup]="squadmates"
        (ngSubmit)="submitSquadmateStatus(stepper)"
      >
        <div class="squadmate-form">
          <div class="squadmate">
            <p><strong>Name</strong></p>
            <strong>Recruited?</strong>
            <strong>Loyal?</strong>
          </div>

          <div class="squadmate" formGroupName="zaeed">
            <p>Zaeed</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="legion">
            <p>Legion</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="samara">
            <p>Samara</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="tali">
            <p>Tali</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="mordin">
            <p>Mordin<em>*</em></p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="garrus">
            <p>Garrus<em>*</em></p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="miranda">
            <p>Miranda<em>*</em></p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="grunt">
            <p>Grunt</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="jacob">
            <p>Jacob<em>*</em></p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="thane">
            <p>Thane</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="jack">
            <p>Jack<em>*</em></p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="kasumi">
            <p>Kasumi</p>
            <mat-checkbox formControlName="recruited"></mat-checkbox>
            <mat-checkbox formControlName="loyal"></mat-checkbox>
          </div>
        </div>

        <!-- <mat-checkbox [labelPosition]="'before'">Samara is Morinth</mat-checkbox> -->

        <p>
          <small><em>*</em> indicates required squadmates.</small>
        </p>

        <div *ngIf="insufficientSquadmates">
          <p>
            <em
              >Less than 8 squadmates were recruited. A minimum of 8 recruited
              squadmates is required to progress to the final mission.</em
            >
          </p>
        </div>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!squadmates.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 2. Ship Upgrades -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Ship Upgrades</ng-template>

      <h2>What upgrades has the Normandy acquired?</h2>

      <!-- <table mat-table [dataSource]="shipUpgradeData">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="included">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.included"></mat-checkbox>
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let myRowData; columns: shipUpgradeColumns"
        ></tr>
      </table> -->

      <form [formGroup]="shipUpgrades" (ngSubmit)="submitShipUpgrades(stepper)">
        <div class="squadmate-form">
          <!-- <div class="squadmate">
            <p><strong>Name</strong></p>
            <strong>Included?</strong>
          </div> -->

          <div class="squadmate" formGroupName="armor">
            <p>Heavy Ship Armor</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="shield">
            <p>Multicore Shielding</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>

          <div class="squadmate" formGroupName="weapons">
            <p>Thanix Cannon</p>
            <mat-checkbox formControlName="included"></mat-checkbox>
          </div>
        </div>

        <button mat-raised-button color="primary" type="submit">
          Next
        </button>
      </form>
    </mat-step>

    <!-- 3. The Oculus -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Omega-4 Relay: The Oculus</ng-template>

      <form [formGroup]="oculusSquadmates" (ngSubmit)="submitOculusSquadmates(stepper)">
        <div class="multiple-select">
          <h2>Who will accompany Shepard to fight the Oculus?</h2>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 1</mat-label>
            <mat-select formControlName="oculus1" #oculus1>
              <mat-option
                *ngFor="let squadmate of squadmateStatusData"
                [value]="squadmate.name"
                [disabled]="oculus2.value === squadmate.name"
              >
                {{ squadmate.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Squadmate 2</mat-label>
            <mat-select
              formControlName="oculus2"
              #oculus2
            >
              <mat-option
                *ngFor="let squadmate of squadmateStatusData"
                [value]="squadmate.name"
                [disabled]="oculus1.value === squadmate.name"
              >
                {{ squadmate.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!oculusSquadmates.valid"
        >
          Next
        </button>
      </form>
    </mat-step>

    <!-- 4. Infiltration -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: Infiltration</ng-template>

      <div class="multiple-select">
        <h2>Who will go through the vents?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Vent Specialist</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let specialist of ventSpecialists"
              [value]="specialist"
            >
              {{ specialist }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h2>Who will lead the first fireteam?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Fireteam Leader 1</mat-label>
          <mat-select>
            <mat-option *ngFor="let leader of fireteamLeaders" [value]="leader">
              {{ leader }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <!-- 5. The Long Walk -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: The Long Walk</ng-template>

      <div class="multiple-select">
        <h2>Who will create the biotic shield?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Biotic Specialist</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let specialist of bioticSpecialists"
              [value]="specialist"
            >
              {{ specialist }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h2>Who will lead the second fireteam?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Fireteam Leader 2</mat-label>
          <mat-select>
            <mat-option *ngFor="let leader of fireteamLeaders" [value]="leader">
              {{ leader }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h2>Who will escort the crew?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Crew Escort</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let squadmate of squadmateStatusData"
              [value]="squadmate.name"
            >
              {{ squadmate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h2>Who will accompany Shepard through the seeker swarms?</h2>

        <mat-form-field appearance="fill">
          <mat-label>Squadmate 1</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let squadmate of squadmateStatusData"
              [value]="squadmate.name"
            >
              {{ squadmate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Squadmate 2</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let squadmate of squadmateStatusData"
              [value]="squadmate.name"
            >
              {{ squadmate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <!-- 6. Final Battle -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: Final Battle</ng-template>

      <div class="multiple-select">
        <h2 id="htl">Who will accompany Shepard to the final battle?</h2>
        <p>
          Anyone who does not accompany Shepard will stay behind to hold the
          line.
        </p>

        <mat-form-field appearance="fill">
          <mat-label>Squadmate 1</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let squadmate of squadmateStatusData"
              [value]="squadmate.name"
            >
              {{ squadmate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Squadmate 2</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let squadmate of squadmateStatusData"
              [value]="squadmate.name"
            >
              {{ squadmate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <!-- 7. Hold the Line -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Collector Base: Hold the Line</ng-template>

      <div class="multiple-select">Score: 0</div>

      <button mat-raised-button color="primary" matStepperNext>
        Calculate
      </button>
    </mat-step>

    <!-- 8. Final Outcome -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>Final Outcome</ng-template>

      <button mat-raised-button color="primary" (click)="stepper.reset()">
        Reset
      </button>
    </mat-step>

    <!--  <mat-step [editable]="false">
      <ng-template matStepLabel>Ship Upgrades</ng-template>

      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step> -->
  </mat-stepper>

  <pre>{{ availableSquadmates | squadmatesStatus }}</pre>

  <pre>{{ shipUpgrades.value | json }}</pre>
</div>
